.square {
    height: 75px;
    width: 75px;
}

.square1 {    
    background-color: rgb(105, 21, 21);   
}

.square2 {    
    background-color: powderblue;   
}

.square3 {    
    background-color: goldenrod;   
}

.square4 {    
    background-color: yellowgreen;    
}

.square5 {   
    background-color: blueviolet;    
}